<div data-ng-controller="regController">
    <button class="close" data-ng-click="toggleElement(false, true)">x</button>
    <form name="userRegForm">
        <legend data-traslate="REGNEWUSER">
            <button id="prev" data-ng-click="nextStep(-1);">&lt;</button>
            {{"REGNEWUSER" | translate}}
        </legend>
        <div class="step">
                <p>{{"REGISTERNOTICE" | translate}} <a href="https://eyeinc.ru/agreement/" style="color:#fff;" target="_blank" data-traslate="TERMSOFUSE"></a></p>
            <div>
                <input type="tel" autocomplete="phone" name="login" id="phone" data-translate data-translate-attr-placeholder="PLACEHOLDERPHONE" data-ng-model="$parent.phone" required />
            </div> 
            <div>
                <button type="button" data-ng-click="startReg()" data-translate="NEXTBUTTON"></button>
            </div>
        </div>

        <div class="step">
            <p>{{"NOTERECEIVECODE" | translate}} <a data-ng-click="makeCodeRequest()" data-translate="TRYMORE"></a></p>
            <div>
                <input type="text" autocomplete="code" id="code" data-translate data-translate-attr-placeholder="PLACEHOLDERCODE" data-ng-model="$parent.code" required />
            </div>
            <div>
                <button type="button" data-ng-click="middleReg()" data-translate="NEXTBUTTON"></button>
            </div>
        </div>

        <div class="step">
            <div class="fileField">
                <input type="file" autocomplete="off" name="user-avatar" id="user-avatar" onchange="readFile(this);">
                <span class="icon icon-eye-plus"></span>
                <img src="" alt="" class="previewAvatar">
            </div>
            <div>
                 <input type="text" autocomplete="name" id="name" data-translate data-translate-attr-placeholder="PLACEHOLDERUSERNAME" data-ng-model="$parent.name" required />
            </div>
            <div>
                <input type="password" autocomplete="password" id="password" data-translate data-translate-attr-placeholder="PLACEHOLDERPASSWORD" data-ng-model="$parent.password" required />
            </div>
            <div>
                <input type="email" autocomplete="email" id="email" data-translate data-translate-attr-placeholder="PLACEHOLDEREMAIL" data-ng-model="$parent.email" required />
            </div>
            <div>
                <button type="button" data-ng-click="finishReg()" data-translate="START"></button>
            </div>
        </div>
    </form>
</div>