<input type="text" data-ng-model="searchInCameras" data-translate data-translate-attr-placeholder="SEARCHBYCAMERAS">
<div class="dataList">
    <ul>
        <li data-ng-repeat="camera in camerasList | filter : searchInCameras">
            <div data-ng-if="camera.preview">
                <img src="https://api.eyeinc.ru/assets/avatars/{{camera.preview}}" alt="">
            </div>
			<span data-ng-if="!camera.preview" class="empty-avatar"></span>
            <p>{{camera.name}}</p>
            <ul>
                <li>
                    <input type="checkbox" id="switch" data-ng-checked="!cameraStatus">
                    <label for="switch"></label>
                </li>
                <li><i class="icon icon-eye-drop"></i></li>
                <li data-ng-click="deleteCamera(camera.id);"><i class="icon icon-eye-close"></i></li>
            </ul>
        </li>
    </ul>
</div>