<input type="text" data-ng-model="searchInMessage" data-translate data-translate-attr-placeholder="SEARCHBYDIALOGS">
<div class="dataList">
    <ul>
        <li data-ng-click="openChat(isOpenChat=false, chat.chat_id); getChatWithUser(chat.chat_id); getUserDataById(chat.chat_id);" data-ng-repeat="chat in dialogs | filter : searchInMessage">
            <div data-ng-if="chat.avatar">
                <img data-ng-src="https://api.eyeinc.ru/assets/avatars/{{chat.avatar}}" alt="">
            </div>
            <span data-ng-if="!chat.avatar" class="empty-avatar"></span>
            <p>
                <span>{{chat.name}}</span>
                <span>{{chat.message}}</span>
            </p>
            <time>{{chat.date_msg * 1000 | date:'HH:mm'}}</time>
            <sup data-ng-if="chat.count"><i class="icon icon-eye-comment"></i>{{chat.count}}</sup>  
        </li>
    </ul>
</div>