<div class="eye-container-full" id="downloadModal">
    <div class="eye-row">
        <div class="eye-x-12">
            <h2 data-translate="DOWNLOADEYESTREAMER"></h2>
        </div>
    </div>
    <div class="eye-row">
        <div class="eye-x-6">
            <a href="https://eyeinc.ru/software/exe/setup.exe">
                <p><i class="icon icon-eye-windows"></i></p>
                <p>{{"DOWNLOADFORWINDOWS" | translate}}</p>
            </a>
        </div>
        <div class="eye-x-6">
            <a href="https://eyeinc.ru/software/pkg/EyeStreamer.pkg">
                <p><i class="icon icon-eye-apple"></i></p>
                <p>{{"DOWNLOADFORMAC" | translate}}</p>
            </a>
        </div>
    </div>
</div>