<input type="text" data-ng-change="searchUsers(searchRequest);" data-ng-model="searchRequest" data-translate data-translate-attr-placeholder="SEARCH">
<div class="dataList">
    <ul>
        <li data-ng-click="getUserDataById(result.id)" data-ng-repeat="result in results">
            <div data-ng-if="result.avatar">
                <img data-ng-if="result.type!=0" data-ng-src="https://api.eyeinc.ru/assets/avatars/{{result.avatar}}" alt="">
                <img data-ng-if="result.type==0"  data-ng-src="{{result.avatar}}">
            </div>
            <span class="empty-avatar" data-ng-if="!result.avatar"></span>
            <p>{{result.name}}</p>
            <ul>
                <li><i class="icon icon-eye-plus"></i> {{result.followers}}</li>
				<li><i class="icon icon-eye-view"></i> {{result.watchers}}</li>
				<li><i class="icon icon-eye-bell"></i> {{result.likes}}</li>
            </ul>
        </li>
    </ul>
</div>