<div class="eye-container-full" id="settings" data-ng-controller="userController">
    <div class="eye-row">
        <div class="eye-x-12">
            <h2 data-translate="SETTINGS"></h2>
        </div>
    </div>
    <div class="eye-row">
        <div class="eye-x-12 eye-m-12">
            <h3 data-translate="CHANGEPASSWORD">Сменить пароль</h3>
            <form method="post" id="changePass" name="changePass" data-ng-submit="changePassword();">
                <div>
                    <input type="password" name="oldpassword" autocomplete="off" id="oldpassword" data-translate data-translate-attr-placeholder="ENTEROLDPASSWORD" data-ng-model="$parent.oldpassword" required="true">
                </div>
                <div>
                    <input type="password" name="newpassword" autocomplete="off" id="newpassword" data-translate data-translate-attr-placeholder="ENTERNEWPASSWORD" data-ng-model="$parent.newpassword" required="true">
                </div>
                <div>
                    <button data-translate="CHANGEBUTTON"></button>
                </div>
            </form>
        </div>
        <div class="eye-x-12 eye-m-12">
            <h3 data-translate="CHANGELOGINANDAVATAR">Сменить логин и аватар</h3>
            <form method="post" id="changeLoginAvatar" data-ng-submit="changePersonalData()" name="changeLoginAvatar">
                <div>
                    <img id="newAvatar" class="img-responsive">
                    <button type="button">Загрузить файл</button>
                    <input type="file" name="avatar" id="avatar" data-file="param.file">
                </div>
                <div>
                    <input type="text" name="login" autocomplete="off" id="login" data-translate data-translate-attr-placeholder="ENTERLOGIN" data-ng-model="$parent.login" data-ng-value="$parent.accountName" required="true">
                </div>
                <div>
                    <button data-translate="CHANGEBUTTON"></button>
                </div>
            </form>
        </div>
    </div>
</div>